<!--
<div      
  fxFlex="25"
  fxFlex.md="33"
  fxFlex.sm="50"
  fxFlex.xs="100"
  fxLayout="column"
  style="padding: 5px;">
-->

<div      
  fxFlex="600"
  fxFlex.md="33"
  fxFlex.sm="50"
  fxFlex.xs="100"
  fxLayout="row"
  style="padding: 5px;">

    <mat-card class="mat-elevation-z1">
      <mat-icon>grade</mat-icon>
      <mat-card-title> For test </mat-card-title>
      <mat-card-content> This card ius supposed to be used for test purpose even if it seems complicated to be honnest it is sometimes quite tricky but ok I think my sentence is long enough </mat-card-content>
      <mat-card-footer>
        <button fxFlex mat-flat-button color="primary">
          Do Something Button
        </button>
      </mat-card-footer>
    </mat-card>

  </div>    
<!--
</div>
-->